*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	text-align:center;
	color:rgb(102,153,153);
	font-family:Helvetica,Ariel,sans-serif;
	font-size: 20px;
	background-color:rgb(204,231,232);
}

header {
	background-color:rgb(25,94,131);
	border:10px solid rgb(102,153,153);
}

#slogan {
	font-size:2em;
	color: rgb(184,116,85);
	text-align: center;
	}

h1{
	font-family:Major Mono display, Monospace;
	color:rgb(0,206,209);
	font-size:3em;
	border-bottom:4px solid rgb(173,255,47);
}

nav{
	font-size:1.8em;
	background-color:rgb(102,153,153);
	text-align: center;
	word-spacing: 20px;
}

a{
	color: rgb(0,206,209);
	text-decoration: none;
}

nav a:hover{
	color: rgb(173,255,47);
}

h2{
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: 'Open Sans',sans-serif;
	color: rgb(184,116,85);
	text-decoration-line: underline;
	text-decoration-color: rgb(0,206,209);
	padding: 30px;
}

img {
	width: 30%;
	padding: 20px;
	float:left;
	height: 25%;
}
div {
	height: 30%;
}
p{
	font-size:22px;
	padding: 30px;
	color: rgb(189,98,98);
	text-align: left;
}

footer{
	background-color:#cccccc;
	text-align:center;
	padding: 10px;
}

footer a:hover{
	color: rgb(173,255,47);
}

#contact {
	text-align: center;
}

.clearfix:after{
	display:block;
	content: " ";
	clear:both;
}

@media only screen and (max-width: 520px) {
	h1{
		font-size: 2em;
	}
	#slogan{
		font-size:1.5em;
	}
}

