
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	text-align:center;
	color:rgb(102,153,153);
	font-family:Helvetica,Ariel,sans-serif;
	font-size: 20px;
	background-color:rgb(204,231,232);
}

header {
	background-color:rgb(25,94,131);
	border:10px solid rgb(102,153,153);
}

#slogan {
	font-size:1.5em;
	color: rgb(184,116,85);
	}

h1{
	font-family:Major Mono display, Monospace;
	color:rgb(0,206,209);
	font-size:3em;
	border-bottom:4px solid rgb(173,255,47);
}

nav{
	font-size:1.8em;
	background-color: rgb(102,153,153);
	text-align: right;
	word-spacing: 15px;
	padding-right: 25px;
}

a{
	color: rgb(0,206,209);
	text-decoration: none;
}

nav a:hover{
	color: rgb(173,255,47);
}

h2{
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: 'Open Sans',sans-serif;
	color:rgb(0,206,209);
	border-bottom-color:rgb(0,206,209);
}

div{
	float: left;
	width: 60%;
	height: auto;
	padding: 40px;
}

li{
	outline: 3px solid rgb(184,116,85);
	text-align: center;
	color:rgb(153,102,115);
	background: rgb(25,121,169);
	padding:20px;
	list-style:none; 
}

li a:hover{
	color: rgb(173,255,47);
}

img{
	float: right;
	width: 35%;
	height: auto;
	border-radius: 30px;
	padding: 10px;
}

h3{
	padding: 20px;
	border-bottom:4px solid rgb(173,255,47);
	color: rgb(102,153,153);
}

p{
	font-size: 1em;
	padding: 20px;
	color: rgb(184,116,85);
}

footer{
	background-color:#cccccc;
	text-align:center;
	padding: 10px;
}

footer a:hover{
	color: rgb(173,255,47);
}
.clearfix:after{
	display:block;
	content: " ";
	clear:both;
}

@media only screen and (max-width: 1170px) {

div{
	padding: 20px;
}
p{
	font-size: .7em;
}

}

@media only screen and (max-width: 1120px) {

h3{
	font-size: 1em;
}
}

@media only screen and (max-width: 1000px) {

img{
	float:none;
	width:none;
}
nav{
	text-align: center;
}
div{
	float:none;
	width:100%;
}

@media only screen and (max-width: 600px) {

h1{
	font-size:2em;
}
img{
	width: 80%;
}
#slogan{
	font-size:1em;
}

}