*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	text-align:center;
	color:rgb(102,153,153);
	font-family:Helvetica,Ariel,sans-serif;
	font-size: 20px;
	background-color:rgb(204,231,232);
}

header {
	background-color:rgb(25,94,131);
	border:1px solid rgb(102,153,153);
}

#slogan {
	font-size:2em;
	color: rgb(184,116,85);
	}

h1{
	font-family:Major Mono display, Monospace;
	color:rgb(0,206,209);
	font-size:3em;
	border-bottom:4px solid white;
}

nav{
	font-size:1.8em;
	background-color:rgb(184,116,85);
	text-align: center;
	word-spacing: 15px;
}

a{
	color: rgb(0,206,209);
}

nav a:hover{
	background-color:rgb(25,94,131);
}

img{
	width:45%;
}
h2{
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: 'Open Sans',sans-serif;
	color:rgb(0,206,209);
	border-bottom-color:rgb(0,206,209);
}


h3{
	padding: 20px;
	border-bottom:4px solid white;
}

p{
	font-size:22px;
	padding: 20px;
	color: rgb(189,98,98);
}

footer{
	background-color:#cccccc;
	text-align:center;
	padding: 10px;
}
.clearfix:after{
	display:block;
	content: " ";
	clear:both;
}
