
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body{
	text-align: center;
	color: rgb(255,99,71);
	font-family: Helvetica,Ariel,Sans-serif;
}
header{
	background-color: #FFED74
	border: 1px black solid;
	padding 20px;
}
	h1{
		font-family: Major Mono display, Monospace;
		src: url(''https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
		font-weight: normal;
}
nav{
	background-color: #E8C66A;
	border: 1px black solid;
	padding 20px;
}
aside{
	background-color: #FFC675;
	border: 1px black solid;
	padding 20px;
}
	img{
		max-width: 100%;
		heigh: auto;
	}
	hr{
		width: 500px;
	}

	p{
		font-size: 22px;
		font-family: Sedgwick Ave Display ,Cursive;
		src: url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet");
div/section{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding 20px;
}	
footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding 20px;
}