
.clearfix{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	text-align:center;
	color:rgb(255,99,71);
	font-family:Helvetica,Ariel,sans-serif;
}

header {
	background-color:#FFED74;
	border:1px solid black;
}

#slogan {
	font-size:2em;
	}

h1{
	font-family:Major Mono display, Monospace;
	color:rgb(0,206,209);
	font-size:3em;
	border-bottom:4px solid blue;
}

nav{
	font-size:1.8em;
	color:#000000;
	background-color:rgb(255,99,71);
}

nav a:hover{
	background-color:rgb(255,99,71);
}

h2{
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: 'Open Sans',sans-serif;
	color:rgb(0,206,209);
	border-bottom-color:rgb(0,206,209);
}

li{
	outline: 3px solid #222;
	text-align: center;
	color: #000;
	background: #fff;
}

img{
	float: right;
	display: block;
	margin: 0 auto;
	border: 5px solid blue;
}

p{
	font-size: 22px;
}

footer{
	background-color: #cccccc;
	text-align: center;
}

