body{
	text-align: center;
	text-color: rgb(0,0,250);
	font-family: Helvetica;
}
	h1{
		font-family: Arial;
		font-weight: normal;
	}
	hr{
		widtih: 500px;
	}
	ul{
		text-align: left;
	}
#slogan{
	font-style: italic; 
	font-size: 24px;
	text-decoration-color: rgb(238,130,238);
p{
	font-size: 22px;
	font-family: "Courier New"
}