body{
	text-align: center;
	text-color: rgb(0,0,250);
	font-family: Helvetica;
}
	h1{
		font-family: Arial;
		font-weight: normal;
		color: rgb(0,250,0);
	}
	hr{
		widtih: 300px;
	}
	ul{
		text-align: bottom;
	}
#slogan{
	font-style: italic; 
	font-size: 24px;
p{
	font-size: 22px;
	font-family: "Courier New"
}
}